<h1>Create A New Account</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.text_field :password %>
<% # I would look into changing this into a password field instead of a text field  %>
  <%= f.submit "Create Account"%>
<% end %>
